@import '../components/Modules.scss';

.about {
    @include margin-desktop;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;

    &__info {
        display: flex;
        flex-direction: column;
        font-family: $font-family-;
        margin: 100px 0px;
    }

    &__h3 {
        color: $text-color-white;
        margin: 10px 0px;
    }

    &__title {
        color: $title-color-white;
        margin: 0;
    }

    &__p {
        color: $text-color-white;
        margin: 10px 10px 0px 0px;
    }

    img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    }

    &__btn {
        margin: 20px 0px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__btn-cv {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 180px;
        height: 40px;
        position: relative;
        overflow: hidden;
        z-index: 1;
        letter-spacing: 0.5px;
        background-color: $btn-background-color-white;
        border: 1px solid $btn-border-color-white;
        color: $title-color-white;
        border-radius: 20px;
        cursor: pointer;
        text-decoration: none;
    }

    &__btn-cv::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: $btn-border-color-white;
        transition: left 0.5s ease;
        z-index: -1;
    }

    &__btn-cv:hover::before {
        left: 0;
    }

    &__btn-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        position: relative;
        overflow: hidden;
        z-index: 1;
        letter-spacing: 0.5px;
        background: $btn-background-color-white;
        border: 2px solid $btn-border-color-white;
        color: $title-color-white;
        border-radius: 50%;
        cursor: pointer;
    }

    &__btn-link::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: $btn-border-color-white;
        transition: left 0.5s ease;
        z-index: -1;
    }

    &__btn-link:hover::before {
        left: 0;
    }
}

// MEDIA QUERIES DE 1440 PX 
@media (max-width: $layout-breakpoint-1440) {
    .about {
        @include margin-1440;
    }
}

// MEDIA QUERIES DE 1024 PX 
@media (max-width: $layout-breakpoint-1024) {
    .about {
        @include margin-1024;
    }
}

// MEDIA QUERIES DE 768 PX 
@media (max-width: $layout-breakpoint-768) {
    .about {
        @include margin-768;
    }
}