@import '../components/Modules.scss';

.contact {
    @include margin-desktop;
    font-family: $font-family-;
    color: $text-color-white;

    &__title {
        display: flex;
        justify-content: center;
        color: $title-color-white;
        margin: 150px 0px 100px 0px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        padding: 40px;
        background-color: $background-color-cards-white;
        border-radius: 20px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    }

    &__info {
        display: inline-flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__name {
        width: 45%;
    }

    &__email {
        width: 45%;
    }

    &__input {
        width: calc(100% - 30px);
        height: 25px;
        font-size: 15px;
        font-family: $font-family-;
        padding: 5px 15px;
        background-color: $background-color-white;
        border-radius: 10px;
        line-height: 1.6;
        resize: vertical;
        transition: all 0.3s ease;
        outline: none;
        border: 1px solid #d6d3d1;
    }

    &__input:hover {
        border-color: #1a1a1a;
        background: white;
    }

    &__input::placeholder{
        color: #a8a29e;
    }

    &__input-message {
        width: calc(100% - 30px);
        height: 100px;
        font-family: $font-family-;
        padding: 10px 15px;
        font-size: 15px;
        line-height: 1.6;
        resize: vertical;
        transition: all 0.3s ease;
        outline: none;
        border-radius: 10px;
        border: 1px solid #d6d3d1;
        background-color: $background-color-white;
    }

    &__input-message:hover {
        border-color: #1a1a1a;
        background: white;
    }

    &__input-message::placeholder{
        color: #a8a29e;
    }

    &__btn {
        display: flex;
        justify-content: center;
        margin: 50px 0px;
    }

    &__submit {
        width: 200px;
        height: 60px;
        position: relative;
        overflow: hidden;
        z-index: 1;
        letter-spacing: 0.5px;
        cursor: pointer;
        border: 2px solid $btn-border-color-white;
        background-color: $btn-background-color-white;
        border-radius: 20px;
        font-weight: bold;
        transition: box-shadow 0.3s ease;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    }

    &__chars {
        display: flex;
        justify-content: end;
        margin: 10px 0px 10px 0px;
    }

    &__submit::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        background-color: $btn-border-color-white;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        transition: width 0.5s ease, height 0.5s ease;
        z-index: -1;
    }

    &__submit:hover::before {
        width: 300px;
        height: 300px;
    }

    &__submit:hover {
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }
}

// MEDIA QUERIES DE 1440 PX
@media (max-width: $layout-breakpoint-1440) {
    .contact {
        @include margin-1440;
    }
}

// MEDIA QUERIES DE 1024 PX
@media (max-width: $layout-breakpoint-1024) {
    .contact {
        @include margin-1024;
    }
}

// MEDIA QUERIES DE 768 PX
@media (max-width: $layout-breakpoint-768) {
    .contact {
        @include margin-768;
    }
}