@import '../components/Modules.scss';

.contact {
    @include margin-desktop;
    font-family: $font-family-;
    color: $text-color-white;

    &__title  {
        display: flex;
        justify-content: center;
        color: $title-color-white;
        margin: 150px 0px 100px 0px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        padding: 40px;
        background-color: $background-color-cards-white;
        border-radius: 20px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    }

    &__info {
        display: inline-flex;
        justify-content: space-between;
    }

    &__name {
        width: 45%;
    }

    &__email {
        width: 45%;
    }

    &__input {
        width: 100%;
        height: 30px;
        padding-left: 10px;
    }

    &__input-message {
        width: 100%;
        height: 100px;
        padding-left: 10px;
    }

    &__btn {
        display: flex;
        justify-content: center;
        margin: 50px 0px;
    }

    &__submit {
    width: 200px;
    height: 60px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    letter-spacing: 0.5px;
    cursor: pointer;
    border: 2px solid $btn-border-color-white;
    background-color: $btn-background-color-white;
    border-radius: 20px;
    font-weight: bold;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

&__submit::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: $btn-border-color-white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.5s ease, height 0.5s ease;
    z-index: -1;
}

&__submit:hover::before {
    width: 300px;
    height: 300px;
}

&__submit:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
}