@import '../components/Modules.scss';

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px 0px 20px 0px;
    font-family: $font-family-;

    &__404 {
        color: $title-color-white;
        font-size: 288px;
        margin: 0;
    }

    &__404-p {
        color: $text-color-white;
    }

    &__404-a {
        color: $text-color-white;
    }
}