@import '../components/Modules.scss';

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px 0px 20px 0px;
    font-family: $font-family-;

    &__404 {
        color: $title-color-white;
        font-size: 288px;
        margin: 0;
    }

    &__p {
        color: $text-color-white;
    }

    &__a {
        color: $text-color-white;
    }
}

// MEDIA QUERIES DE 768 PX
@media (max-width: $layout-breakpoint-768) {
    .error {
        margin: 250px 0px 0px 0px;

        &__404 {
            font-size: 120px;
        }

        &__p {
            font-size: 14px;
        }

        &__a {
            font-size: 12px;
        }
    }
}

// MEDIA QUERIES DE 375 PX
@media (max-width: $layout-breakpoint-375) {
    .error {
        margin: 250px 0px 0px 0px;

        &__404 {
            font-size: 100px;
        }

        &__p {
            font-size: 12px;
        }

        &__a {
            font-size: 10px;
        }
    }
}