@import '../components/Modules.scss';

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px 0px 20px 0px;
    font-family: $font-family-;
    color: var(--text-color);
    transition: color 0.1s ease 0.1s, background-color 0.1s ease 0.1s;

    &__404 {
        color: var(--text-title-color);
        font-size: 288px;
        margin: 0;
    }

    &__link {
        text-decoration: none;
        color: var(--text-color);
    }

    &__link:hover {
        text-decoration: underline;
    }
}

// MEDIA QUERIES DE 768 PX
@media (max-width: $layout-breakpoint-768) {
    .error {
        margin: 250px 0px 0px 0px;

        &__404 {
            font-size: 120px;
        }

        &__p {
            font-size: $font-size-p-mid;
        }

        &__a {
            font-size: $font-size-p-small;
            margin-bottom: 150px;
        }
    }
}

// MEDIA QUERIES DE 375 PX
@media (max-width: $layout-breakpoint-375) {
    .error {
        margin: 250px 0px 0px 0px;

        &__404 {
            font-size: 100px;
        }

        &__p {
            font-size: $font-size-p-small;
        }

        &__a {
            font-size: $font-size-p-very-small;
        }
    }
}