@import '../components/Modules.scss';

.footer {
    margin: 100px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #F4FAFF;

    &__links {
        display: flex;
        gap: 20px;
        margin: 10px;
    }

    &__link {
        text-decoration: none;
        color: $text-color-white;
    }

    &__link:hover {
        text-decoration: underline;
    }
}

// MEDIA QUERIES DE 768 PX
@media (max-width: $layout-breakpoint-768) {
    .footer {
        padding: 25px;
        font-size: 14px;

        &__links {
            font-size: 12px;
        }
    }
}

// MEDIA QUERIES DE 375 PX
@media (max-width: $layout-breakpoint-375) {
    .footer {
        padding: 10px;
        font-size: 12px;

        &__links {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 10px;
        }
    }
}