@import '../components/Modules.scss';

.footer {
    margin: 100px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #F4FAFF;

    &__links {
        display: flex;
        gap: 20px;
        margin: 10px;
    }

    &__link {
        text-decoration: none;
        color: $text-color-white;
    }

    &__link:hover {
        text-decoration: underline;
    }
}