@import '../components/Modules.scss';

.container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0px 300px;
    background-color: #F4FAFF;
    font-family: $font-family-tilte;

    &__logo {
        display: flex;
        align-items: center;
        gap: 20px;
        color: $title-color-white;
    }
    
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    &__links {
        display: flex;
        gap: 20px;
    }

    &__link {
        color: $text-color-white;
        cursor: pointer;
        text-decoration: none;
    }

    &__link:hover {
        text-decoration: underline;
    }
}