@import '../components/Modules.scss';

.container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0px 300px;
    background-color: var(--bg-color-header-footer);
    font-family: $font-family-header;
    transition: color 0.1s ease 0.1s, background-color 0.1s ease 0.1s;

    &__logo {
        display: flex;
        align-items: center;
        gap: 20px;
        color: var(--text-title-color);
    }
    
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__link {
        color: var(--text-color);
        cursor: pointer;
        text-decoration: none;
    }

    &__link:hover {
        text-decoration: underline;
    }
}

// MEDIA QUERIES DE 1440 PX
@media (max-width: $layout-breakpoint-1440) {
    .container {
        padding: 0px 200px;
    }
}

// MEDIA QUERIES DE 1024 PX
@media (max-width: $layout-breakpoint-1024) {
    .container {
        padding: 0px 100px;
    }
}

// MEDIA QUERIES DE 768 PX
@media (max-width: $layout-breakpoint-768) {
    .container {
        padding: 0px 40px;

        &__link {
            display: none;
        }
    }
}

// MEDIA QUERIES DE 375 PX
@media (max-width: $layout-breakpoint-375) {
    .container {
        padding: 0px 20px;
    }
}