@import '../components/Modules.scss';

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 300px;

    &__logo {
        display: flex;
        align-items: center;
        gap: 20px;
        color: $title-color-white;
        font-family: $font-family-tilte;
    }
    
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    &__links {
        display: flex;
        gap: 20px;
    }

    &__link {
        color: $text-color-white;
        text-decoration: none;
        font-family: $font-family-tilte;
    }

    &__line {
        border: 1px solid #D5EFFF;
    }
}