@import '../components/Modules.scss';

.container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0px 300px;
    background-color: #F4FAFF;
    font-family: $font-family-header;

    &__logo {
        display: flex;
        align-items: center;
        gap: 20px;
        color: $title-color-white;
    }
    
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__link {
        color: $text-color-white;
        cursor: pointer;
        text-decoration: none;
    }

    &__link:hover {
        text-decoration: underline;
    }
}

// MEDIA QUERIES DE 1440 PX
@media (max-width: $layout-breakpoint-1440) {
    .container {
        padding: 0px 200px;
    }
}

// MEDIA QUERIES DE 1024 PX
@media (max-width: $layout-breakpoint-1024) {
    .container {
        padding: 0px 100px;
    }
}

// MEDIA QUERIES DE 768 PX
@media (max-width: $layout-breakpoint-768) {
    .container {
        padding: 15px 40px;

        &__title {
            display: none;
        }
    }
}

// MEDIA QUERIES DE 375 PX
@media (max-width: $layout-breakpoint-375) {
    .container {
        padding: 20px 20px;

        img {
            width: 30px;
            height: 30px;
        }

        &__link {
            font-size: 12px;
        }
    }
}