// COULEUR
$background-color-white: #FBFDFF;
$text-color-white: #0D74CE;
$title-color-white: #113264;
$btn-background-color-white: #C2E5FF;
$btn-border-color-white: #8EC8F6;
// FONT FAMILY
$font-family-tilte: 'Crimson Text', serif;
$font-family-: 'Inter', sans-serif;
// MARGE
@mixin margin-desktop {
    margin: 50px 300px;
}