// COULEUR
$background-color-white: #FBFDFF;
$text-color-white: #0D74CE;
$title-color-white: #113264;
// FONT FAMILY
$font-family-tilte: 'Playfair Display', serif;
$font-family-: 'Inter', sans-serif;
// MARGE
@mixin margin-desktop {
    margin: 50px 300px;
}