@import '../components/Modules.scss';

.projects {
    display: flex;
    flex-direction: column;
    font-family: $font-family-;
    @include margin-desktop;

    &__title {
        display: flex;
        justify-content: center;
        color: $title-color-white;
        margin: 100px 0px; 
    }

    &__cards {
        display: flex;
        justify-content: space-between;
    }

    &__card {
        width: 25%;
        padding: 25px;
        height: 250px;
        background-color: $background-color-cards-white;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;
    }

    &__card:hover {
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    }

    img {
        width: 100%;
        height: 200px;
        object-fit: center;
        border-radius: 5px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    }

    &__name {
        color: $text-color-white;
        display: flex;
        justify-content: center;
    }
}

// MEDIA QUERIES DE 1440 PX
@media (max-width: $layout-breakpoint-1440) {
    .projects {
        @include margin-1440;

        &__card {
            width: 23%;
        }
    }
}

// MEDIA QUERIES DE 1024 PX
@media (max-width: $layout-breakpoint-1024) {
    .projects {
        @include margin-1024;

        &__card {
            width: 20%;
            height: 200px;
        }

        img {
            height: 150px;
        }
    }
}

// MEDIA QUERIES DE 768 PX
@media (max-width: $layout-breakpoint-768) {
    .projects {
        @include margin-768;

        &__cards {
            flex-direction: column;
            align-items: center;
            gap: 50px;
        }

        &__card {
            width: calc(100% - 25px);
        }
    }
}

// MEDIA QUERIES DE 375 PX
@media (max-width: $layout-breakpoint-375) {
    .projects {
        @include margin-375;

        &__card {
            padding: 15px;
            height: 150px;
        }

        img {
            height: 100px;
        }
    }
}