@import '../components/Modules.scss';

:root[data-theme="light"] {
  --bg-color: #FBFDFF;
  --bg-color-header-footer: #F4FAFF;
  --bg-color-cards: #E6F4FE;
  --text-color: #0D74CE;
  --text-title-color: #113264;
  --border-btn-color: #8EC8F6;
  --bg-btn-color: #C2E5FF;
}

:root[data-theme="dark"] {
  --bg-color: #0D1520;
  --bg-color-header-footer: #111927;
  --bg-color-cards: #0D2847;
  --text-color: #70B8FF;
  --text-title-color: #C2E6FF;
  --border-btn-color: #205D9E;
  --bg-btn-color: #004074;
}

body {
  background-color: var(--bg-color);
  transition: color 0.1s ease 0.1s, background-color 0.1s ease 0.1s;
  padding: 0;
  margin: 0;
}

html {
    scroll-behavior: smooth;
}

// AJOUT D'UNE DIV CONTAINER POUR CONTENIR LE MAIN <OUTLET />
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

// FLEX: 1 POUR QUE LE CONTENUE MAIN PRENNE TOUTE LA PLACE DISPONIBLE
.main-content {
    flex: 1;
}